.book__right__option__evaluation
  .book__right__option__evaluation--positive
    = fa_icon 'thumbs-up', class: 'icon'
    = Book.get_evaluation_num(book[:id], true)
  .book__right__option__evaluation--negative
    = fa_icon 'thumbs-down', class: 'icon'
    = Book.get_evaluation_num(book[:id], false)
- if user_signed_in?
  -# 自分の書架にある場合は登録不可、ない場合は登録可
  - if Book.registered?(current_user.id, book[:id])
    .book__right__option__bookmark--disable
      My書架に登録済み
  - else
    .book__right__option__bookmark--enable
      = fa_icon 'bookmark'
      My書架に追加
  .book__right__option__edit
    = fa_icon 'edit'
    評価を編集
.book__right__option__link
  = link_to "#{book[:link_url]}", target: '_blank' do
    .book__right__option__link--rakuten
      = fa_icon 'external-link'
      楽天ブックス
  -# .book__right__option__link--amazon
  -#   LinkAMZN
