- if books.empty?
  %p 該当する本はありませんでした。
  %p または、楽天API使用回数が最大に達しています。
- else
  - books.each_with_index do |book, index|
    .book
      .book__left
        .book__left__image{id: "candidate_#{index}"}
          = image_tag book[:image], alt: "#{book[:title]}の画像" if book[:image].present?
      .book__right
        .book__right__info
          .book__right__info--title{id: "candidate_#{index}"}
            %span.caption 書籍名
            %span.content
              = book[:title]
          .book__right__info--author{id: "candidate_#{index}"}
            %span.caption 著者
            %span.content
              - @authors_name = ''
              - book[:authors].each do |author_name|
                - @authors_name += "#{author_name}／"
              = @authors_name.chop # 末尾の／を削除
          .book__right__info--publisher{id: "candidate_#{index}"}
            %span.caption 出版社
            %span.content
              = book[:publisher]
          .book__right__info--isbn{id: "candidate_#{index}"}
            %span.caption ISBN
            %span.content
              = book[:isbn]
        .book__right__option
          = render partial: option, locals: {book: book, id: index}
